<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Remote Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header class="top-panel">
    <button class="remote-btn circle-btn" data-key="esc">esc</button>
    <button class="remote-btn circle-btn" id="sleep-btn" data-action="sleep" style="color: #932626">⏻</button>
  </header>

  <nav class="remote-tabs">
    <button class="tab-btn" data-target="text">Text</button>
    <button class="tab-btn active" data-target="media">Media</button>
    <button class="tab-btn" data-target="touchpad">Touchpad</button>
  </nav>

  <main id="remote-container">
  </main>

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/media.js') }}"></script>
</body>
</html>
